$primary-text-pink: #d41443;
$accent-text-pink: #ffa5ba;
$white: #ffffff;
$primary-text-color: #907e82;
$black: #000000;
$menu-bg-color: #e17992;
$header-bg-color: #ffb8ca;
$secondary-bg-color: #fff5f6;
$btn-hover-bg-color: #ecebeb;
$beige-color: #f0d1a5;
$green-color: #c2e297;
$border-color: #e1e1e1;
$bg-pink: #fff5f6;
$bg-comment: #fafafa;
$bc-comment: #c7133e;

$hero-text-font: 'DM-Sanse400';
$header-font: 'DM-Sanse500';
$products-card-font: 'DM-Sanse700';
$primaty-title-font: 'TitanOne400';

// $primary-font: 'DM Sans', sans-serif;
// $title-font: 'Titan One', cursive;
$font-contacts: 'DM Sans', sans-serif;