$primary-text-pink: #d41443;
$accent-text-pink: #ffa5ba;
$white: #ffffff;
$primary-text-color: #907e82;
$black: #000000;

$primary-font: 'DM-Sanse400';
$second-font: 'DM-Sanse500';
$third-font: 'DM-Sanse700';
$fourth-font: 'TitanOne400';
