<section class="products">
  <div class="container">
      <h3 class="products-title-h3">100% natural</h3>
      <h2 class="products-title-h2">products</h2>
      <ul class="products-list">
      <li class="products-item">
          <picture class="products-picture">
                <source srcset="
                ./image/products/ice-cream-d.png 1x,
                ./image/products/ice-cream-d@2x.png 2x 
                "
                media="(min-width:1200px)" />
                <source srcset="
                ./image/products/ice-cream-t.png 1x,
                ./image/products/ice-cream-t@2x.png 2x 
                "
                media="(min-width:768px)" />
               
                <source srcset="
                ./image/products/ice-cream-m.png 1x,
                ./image/products/ice-cream-m@2x.png 2x 
                "
                media="(max-width:767px)" />
                <img src="./image/products/ice-cream-m.png" 
                alt="ice-cream" 
                />
          </picture>
          <h4 class="products-title-h4">ice cream</h4>
          <span class="dots-icon"></span>
          <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.</p>
          <a href="" class="arrow-icon"></a>
      </li>

      <li class="products-item">
          <picture class="products-picture">
                <source srcset="
                ./image/products/ice-coffee-d.png 1x,
                ./image/products/ice-coffee-d@2x.png 2x 
                "
                media="(min-width:1200px)" />
                <source srcset="
                ./image/products/ice-coffee-t.png 1x,
                ./image/products/ice-coffee-t@2x.png 2x 
                "
                media="(min-width:768px)" />
                <source srcset="
                ./image/products/ice-coffee-m.png 1x,
                ./image/products/ice-coffee-m@2x.png 2x
                "
                media="(max-width:767px)" />
                <img src="./image/products/ice-coffee-m.png" 
                alt="ice-coffee" 
                />
          </picture>
          <h4 class="products-title-h4">ice coffee</h4>
          <span class="dots-icon"></span>
          <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.</p>
          <a href="" class="arrow-icon"></a>
      </li>

      <li class="products-item">
          <picture class="products-picture">
                <source srcset="
                ./image/products/milk-shake-d.png 1x,
                ./image/products/milk-shake-d@2x.png 2x 
                "
                media="(min-width:1200px)" />              
                <source srcset="
                ./image/products/milk-shake-t.png 1x,
                ./image/products/milk-shake-t@2x.png 2x 
                "
                media="(min-width:768px)" />
                <source srcset="
                ./image/products/milk-shake-m.png 1x,
                ./image/products/milk-shake-m@2x.png 2x 
                "
                media="(max-width:767px)" />
               
                <img src="./image/products/milk-shake-m.png" 
                alt="milk-shake" 
                />
          </picture>
          <h4 class="products-title-h4">milkshakes</h4>
          <span class="dots-icon"></span>
          <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.</p>
          <a href="" class="arrow-icon"></a>
      </li>
      </ul>
  </div>
</section>