/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 310px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}

.hero {
  position: relative;
  background-color: #ffa5ba;
}

.hero-heading {
  margin-bottom: 19px;
  font-family: TitanOne400;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-passion {
  font-family: TitanOne400;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero-red-btn {
  width: 63px;
  height: 24px;
  padding: 9px 0;
  margin-right: 8px;
  color: #ffffff;
  font-family: DM-Sanse400;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  border: none;
  border-radius: 11px;
  background-color: #d41443;
}

.hero-red-btn:hover,
.hero-red-btn:focus {
  background-color: #c7133e;
}

.hero-white-btn {
  width: 83px;
  height: 24px;
  padding: 9px 0;
  color: #d41443;
  font-family: DM-Sanse400;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  border: none;
  border-radius: 11px;
  background-color: #ffffff;
}

.hero-white-btn:hover,
.hero-white-btn:focus {
  background-color: #ecebeb;
}

.products {
  background-color: #ffffff;
  font-family: DM Sans;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .products {
    padding-top: 121px;
    padding-bottom: 98px;
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 129px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
  }
}

.products-item {
  position: relative;
  padding: 161px 40px 40px;
  border-radius: 24px;
}

@media screen and (max-width: 767px) {
  .products-item:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products-item:nth-child(1) {
  background-color: #FFB8CA;
}

.products-item:nth-child(2) {
  background-color: #F0D1A5;
}

.products-item:nth-child(3) {
  background-color: #C2E297;
}

@media screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 6 * 10px) / 3);
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .products-item {
    width: calc((100% - 6 * 12px) / 3);
    margin: 12px;
  }
}

.products-picture {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -144%);
          transform: translate(-50%, -144%);
  width: 249px;
}

@media screen and (min-width: 768px) {
  .products-picture {
    width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  .products-picture {
    width: 335px;
  }
}

.products-title-h2,
.products-title-h3,
.products-title-h4 {
  font-family: Titan One;
  font-weight: 400;
  text-transform: uppercase;
}

.products-title-h2 {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 144px;
}

.products-title-h3 {
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products-title-h4 {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;
}

.products-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 30px 0px;
}

.dots-icon,
.arrow-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
}

.dots-icon {
  width: 26px;
  height: 6px;
  background-image: url(../image/products/dots.svg);
}

.arrow-icon {
  width: 40px;
  height: 40px;
  background-image: url(../image/products/arrow-right.svg);
}

.production.section {
  background-color: #fff5f6;
  font-family: DM Sans;
}

@media screen and (max-width: 767px) {
  .production.section {
    padding-top: 125px;
    padding-bottom: 145px;
  }
}

@media screen and (max-width: 767px) {
  .production.section {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../image/production-section/bg-mobile.png");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .production.section {
    background-size: contain;
    background-image: url("../image/production-section/bg-mobile-2x.png");
  }
}

.production-pretitle {
  margin-bottom: 15px;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}

.production-title {
  margin-bottom: 26px;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  color: #d41443;
}

.production-img {
  margin-bottom: 46px;
}

.production-description {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.production-text {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
}

.production-text.gray {
  color: #907e82;
}

.production-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 176px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #d41443;
}

.production-button-icon {
  margin-left: 14px;
  fill: currentColor;
}

.production-button:hover, .production-button:focus {
  background-color: #ecebeb;
}

.production-item {
  margin-bottom: 38px;
}

.production-icons {
  margin-bottom: 16px;
}

.production-qty {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #d41443;
}

.production-qty-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
}

.comments {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slider img {
  margin-bottom: 30px;
}

.comment-box {
  background-color: #fafafa;
  position: relative;
  width: 100%;
  height: 308px;
  margin-bottom: 30px;
}

.comments-text {
  padding: 43px 62px 24px 62px;
  display: block;
  position: absolute;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.04em;
  z-index: 10;
  text-decoration: underline;
}

.quotes {
  position: absolute;
  top: 28px;
  left: 65px;
  z-index: 1;
}

.dots-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}

.dots-item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
}

.dots-item:not(:last-child) {
  margin-right: 10px;
}

.comment-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.comments-location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.comment-slider:not(:first-child) {
  fill: #d9d9d9;
}

.comment-slider:not(:last-child) {
  margin-right: 18px;
}

.contacts {
  background-color: #FFF5F6;
}

@media screen and (min-width: width 1050px) {
  .contacts {
    background-image: url(./../image/contacts/contacts-desk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .contacts {
    background-size: contain;
    background-image: url(./../image/contacts/contacts-desk@2x.png);
    z-index: 3;
  }
}

address a {
  text-align: left;
  font-family: "DM-Sanse500";
  color: #907e82;
}

p {
  font-family: "DM-Sanse500";
  font-size: 12px;
  line-height: 1.8;
  color: #907e82;
}

b {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.85;
  letter-spacing: 0.04em;
}

.contacts-div {
  margin-top: 170px;
  margin-bottom: 113px;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contacts-card {
  display: block;
  margin-bottom: 20px;
  padding: 0 20px;
  width: 220px;
  height: 427px;
  background-color: #ffffff;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts-item:first-child {
  margin-top: 43px;
  margin-bottom: 25px;
}

.contacts-item:last-child {
  margin-top: 25px;
  margin-bottom: 43px;
}

.contacts-item .days {
  color: #000000;
}

.contacts-item .hours {
  color: #ffa5ba;
}

.contacts-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  height: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #F0D1A5;
  border-radius: 4px;
}

.contacts-tag.cafe {
  width: 80px;
  background-color: #F0D1A5;
}

.contacts-tag.foodtruck {
  width: 130px;
  background-color: #C2E297;
}

.monday {
  position: relative;
  margin: 0;
}

.monday::before {
  position: absolute;
  top: -25px;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  content: "";
  min-width: 179px;
  height: 1px;
  border-radius: 2px;
  background-color: #E1E1E1;
}

.monday p:last-child {
  margin-bottom: 25px;
}

.weekend {
  position: relative;
  margin: 0;
}

.weekend p:last-child {
  margin-bottom: 25px;
}

.weekend::after {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  content: "";
  /* position: absolute;
    left: 0;
    bottom: 0px; */
  min-width: 179px;
  height: 1px;
  border-radius: 2px;
  background-color: #E1E1E1;
}

.address {
  font-family: "DM-Sanse500";
  font-size: 12px;
  line-height: 1.5;
}

/* BUTTONS */
.contact-buttons {
  margin-bottom: 113px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 161px;
  height: 44px;
  font-family: "DM-Sanse700";
  font-size: 16px;
  line-height: 1.3;
  border-radius: 22px;
  cursor: pointer;
}

.contacts-link .arrow-icon {
  margin-left: 8px;
}

.red {
  margin-bottom: 10px;
  color: #ffffff;
  background: #d41443;
}

.red .arrow-icon {
  fill: currentColor;
}

.white {
  color: #d41443;
  background-color: #ffffff;
}

.white .arrow-icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */