<section class="comments">
  <picture>
    <source srcset="./image/comment-section/girl1.png" />
    <!-- <source srcset="../image/comment-section/girl2.png 1x, ./images/img2/img2-tab@2x.jpg 2x" /> -->
    <!-- <source srcset="./images/img2/img2-mob.jpg 1x, ./images/img2/img2-mob@2x.jpg 2x" /> -->
    <img src="./image/comment-section/girl1.png" alt="" />
  </picture>
  <p class="comments-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
    nulla quam nunc, accumsan
    congue. Lorem ipsum primis in nibh vel risus.</p>


  <p>Emily, Los Angeles</p>
  <svg>
    <use href="">Домик</use>
  </svg>
  <svg>
    <use href="">Кружок</use>
  </svg>
  <svg>
    <use href="">Кружок</use>
  </svg>
</section>