<section class="contacts">
    <div class="contacts-div container">
        <ul class="contacts-list">
            <li class="contacts-card">
                <ul class="chicago">
                    <li class="contacts-item">
                        <p class="contacts-tag cafe">CAFE</p>
                        <b>Chicago</b>
                        <p class="contacts-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts-item monday">
                        <p class="days">Monday - Friday</p>
                        <p class="hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-item weekend">
                        <p class="days">Saturday - Sunday</p>
                        <p class="hours">08:00 AM - 16:00 PM</p>
                    </li>
                    <address class="contacts-item contacts-address">
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                </ul>
            </li>
            <li class="contacts-card">
                <ul class="la">
                    <li class="contacts-item">
                        <p class="contacts-tag foodtruck">FOODTRUCK</p>
                        <b>Los Angeles</b>
                        <p class="contacts-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts-item monday">
                        <p class="days">Monday - Friday</p>
                        <p class="hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-item weekend">
                        <p class="days">Saturday - Sunday</p>
                        <p class="hours">08:00 AM - 16:00 PM</p>
                    </li>
                    <address class="contacts-item contacts-address">
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                </ul>
            </li>
            <li class="contacts-card">
                <ul class="ny">
                    <li class="contacts-item">
                        <p class="contacts-tag cafe">CAFE</p>
                        <b>New York</b>
                        <p class="contacts-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                    <li class="contacts-item monday">
                        <p class="days">Monday - Friday</p>
                        <p class="hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-item weekend">
                        <p class="days">Saturday - Sunday</p>
                        <p class="hours">08:00 AM - 16:00 PM</p>
                    </li>
                    <address class="contacts-item contacts-address">
                        <ul>
                            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
                            <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </address>
                </ul>
            </li>
        </ul>
        <ul class="contact-buttons">
            <a class="contacts-link red" href="#">
                Our Locations
                <svg class="arrow-icon" width="8" height="16">
                    <use href="./image/sprite.svg#arrowhead"></use>
                </svg>
            </a>
            <a class="contacts-link white" href="#">
                Franchise
                <svg class="arrow-icon" width="8" height="16">
                    <use href="./image/sprite.svg#arrowhead"></use>
                </svg>
            </a>
        </ul>
    </div>    
</section>