<footer>
  <div class="container">
    <section class="slogan">
      <h3>homemade ice cream<br>made</h3>
      <h2>with<br>passion</h2>
    </section>
    <section class="contact-us">
      <ul class="social-icon">
        <li>
          <a href="#">
            <svg class="icon" width="18.8" height="18.8">
              <use href="./image/sprite.svg#github">
              </use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="icon" width="19.2" height="14.9">
              <use href="./image/sprite.svg#telegram">
              </use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            </svg>
            <svg class="icon" width="20" height="50">
              <use href="./image/sprite.svg#facebook">
              </use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="telefon">
        <span>
          Feel free to contact
        </span>
        <a class="tel" href="tel:+61(0)383766284">
          +61 (0) 383 766 284
        </a>
      </div>
    </section>
    <section class="copiright">
      <span>© 2019 - IceCream. <br> All Rights Reserved.</span>
    </section>
  </div>
</footer>