<footer>
  <h3>homemade ice cream made</h3>
  <h2>with passion</h2>
  <ul>
    <li>
      <a href="#">
        <svg>
          <use href="">Githab</use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="">Telegram</use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg>
          <use href="">Facebook</use>
        </svg>
      </a>
    </li>
  </ul>
  <div>
    <span>© 2019 - IceCream. <br> All Rights Reserved.</span>
  </div>
</footer>