<section class="gallery">
  <div class="container">
    <div class="gallery-photo-size">
  <picture>
    <source srcset="./image/gallery-section/mobile1x.jpg,./image/gallery-section/mobile2x.jpg" media="(max-width: 699px)">
      <source srcset="./image/gallery-section/tablet1x.jpg,./image/gallery-section/tablet2x.jpg" media="(min-width: 700px)">
        <source srcset="./image/gallery-section/descktop1x.jpg,./image/gallery-section/descktop2x.jpg" media="(min-width: 1050px)">      
          <img src="../image/gallery-section/mobile1x.jpg" alt="Хаотичная галерея с фотографиями продукции">
  </picture>
  </div>
  </div>
</section>