<section class="gallery">  
    <div class="gallery-thumb">
      <img srcset="./image/gallery-section/products_gallery-241.jpg 241w,
      ./image/gallery-section/products_gallery-320.jpg 320w,
      ./image/gallery-section/products_gallery-385.jpg 385w,
      ./image/gallery-section/products_gallery-481.jpg 481w,
      ./image/gallery-section/products_gallery-577.jpg 577w,
      ./image/gallery-section/products_gallery-640.jpg 640w,
      ./image/gallery-section/products_gallery-768.jpg 768w,
      ./image/gallery-section/products_gallery-960.jpg 960w,
      ./image/gallery-section/products_gallery-1153.jpg 1153w,
      ./image/gallery-section/products_gallery-1280.jpg 1280w,
      ./image/gallery-section/products_gallery-1536.jpg 1536w,
      ./image/gallery-section/products_gallery-1921.jpg 1921w,
      ./image/gallery-section/products_gallery-2304.jpg 2304w,
      ./image/gallery-section/products_gallery-2560.jpg 2560w,
      ./image/gallery-section/products_gallery-3072.jpg 3072w,
      ./image/gallery-section/products_gallery-3840.jpg 3840w,
      ./image/gallery-section/products_gallery-5120.jpg 5120w"
       alt="Хаотичная галерея с фотографиями продукции" 
       src="./image/gallery-section/products_gallery-241.jpg" 
       sizes="100vw">
 </div>
</section>