<header class="header">
  <nav>
    <a href="">
      <img src="#" alt="Logo">
    </a>
    <button type="submit">
      <svg aria-label="Переключатель мобильного меню">
        <use href=""></use>
        <use href=""></use>
      </svg>
    </button>
    <div>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">How it’s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Contact</a></li>
      </ul>
      <button type="submit">Buy now</button>
    </div>
  </nav>
</header>