<header class="header section">
  <div class="navigation container">
    <a href="">
      <img src="./image/header-section/logo-header.png" alt="Logo">
    </a>
    <nav class="nav">
      <input class="nav-check" type="checkbox" id="showmenu" />
      <label class="nav-showmenu" for="showmenu">&#9776;</label>
      <label class="nav-back" for="showmenu"></label>
      <ul class="menu">
        <div class="btn">
          <button class="nav-submit-button" type="submit">
            <span class="nav-button">Buy now</span>
            <svg width="10" height="10">
              <use href="./image/sprite.svg#arrowhead"></use>
            </svg>
          </button>
        </div>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Home</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">About us</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">How it’s made?</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Our products</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>