<header class="header section">
  <div class="navigation container">
    <a href="">
      <img class="logo-header" src="./image/header-section/logo-header.png" alt="Logo">
    </a>
    <nav class="nav">
      <input class="nav-check" type="checkbox" id="showmenu" />
      <label class="nav-showmenu" for="showmenu">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
      </label>
      <!-- <label class="nav-back" for="showmenu"></label> -->
      <ul class="menu">
        <div class="btn">
          <button class="nav-submit" type="submit">
            <span class="buy-now">Buy now</span>
            <svg class="arrow" width="12" height="10">
              <use href="./image/sprite.svg#arrowhead"></use>
            </svg>
          </button>
        </div>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Home</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">About us</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">How it’s made?</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Our products</a></li>
        <li class="menu-list-item"><a href="#" class="menu-list-link">Contact</a></li>
      </ul>
      <div class="button">
        <button class="nav-submit-button" type="submit">
          <span class="nav-button">Buy now</span>
          <svg class="arrow" width="12" height="10">
            <use href="./image/sprite.svg#arrowhead"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>