<section class="products">
  <h3>100% natural</h3>
  <h2>products</h2>
  <ul>
    <li>
      <img src="#" alt="Мороженко с клубничкой">
      <h3>ice cream</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
        magna
        aliqua facilisis.</p>
      <img src="#" alt="кнопка со стрелкой">
    </li>
    <li>
      <img src="#" alt="Коктейль">
      <h3>ice coffee</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
        magna
        aliqua facilisis.</p>
      <img src="#" alt="кнопка со стрелкой">
    </li>
    <li>
      <img src="#" alt="Милк Шейк">
      <h3>milkshakes</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
        magna
        aliqua facilisis.</p>
      <img src="#" alt="кнопка со стрелкой">
    </li>
  </ul>
</section>