<section class="production section">
  <div class="container">
    <p class="production-pretitle">tradition and love</p>
    <h2 class="production-title">how it’s made?</h2>

    <picture>
      <source
        srcset="
          ./image/production-section/cow-mobile.png    1x,
          ./image/production-section/cow-mobile-2x.png 2x
        "
      />

      <img
        class="production-img"
        src="./image/production-section/cow-mobile.png"
        alt="Изображение коровы"
      />
    </picture>

    <div class="production-description">
      <p class="production-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="production-text gray">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
        <br />
        <br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <a class="production-button" href="">
        Read More
        <svg class="production-button-icon" width="12" height="12">
          <use href="./image/sprite.svg#arrowhead"></use>
        </svg>
      </a>
    </div>

    <ul>
      <li class="production-item">
        <img
          class="production-icons"
          src="./image/production-section/bucket.png"
          alt="Ведерко"
        />
        <p class="production-qty">721</p>
        <p class="production-qty-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="production-item">
        <img
          class="production-icons"
          src="./image/production-section/apples.png"
          alt="Ведерко с яблоками"
        />
        <p class="production-qty">16kg</p>
        <p class="production-qty-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="production-item">
        <img
          class="production-icons"
          src="./image/production-section/icecream.png"
          alt="Конфетка сердечко"
        />
        <p class="production-qty">84</p>
        <p class="production-qty-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
