.comments {
  justify-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.comments-text {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  margin: 20px;
  padding: 45px 66px 25px 57px;
  background-color: #fafafa;
  text-decoration: underline;
}

// .comments-text::before {
//   background-image: url(../image/comment-section/symbol-defs.svg#icon-untitled);
// }

.comment-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.comment-icon_top {
  fill: #c7133e;
}
.comment-icon_top:not(:last-child) {
  margin-right: 10px;
}

.comments-location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.comment-slider {
}

.comment-slider:not(:first-child) {
  fill: #d9d9d9;
}
.comment-slider:not(:last-child) {
  margin-right: 18px;
}
