.contacts {
    background-color: $bg-pink;

    @media screen and (min-width: 1200px) {
        background-image: url(./../image/contacts/contacts-desk.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 3;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(./../image/contacts/contacts-desk@2x.png);
        z-index: 3;
        }
    }
}    

.contacts-div {
    margin-top: 170px;

}
.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-bottom: 81px;
        
        .contacts-card + .contacts-card {
            margin-left: 20px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 86px;

        .contacts-card + .contacts-card {
            margin-left: 30px;
        }
    }
}
.contacts-card {
    display: block;
    margin-bottom: 20px;
    padding: 43px 21px 43px 20px;
    width: 220px;
    height: 427px;
    font-family: $font-contacts;
    font-size: 12px;

    background-color: $white;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

    &:first-child {
        margin-top: -84px;
    }

    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 54px;
        }
    }
    @media screen and (min-width: 768px) {
        font-size: 14px;
        height: 544px;
        margin-top: -78px;
        padding: 50px 32px 50px 31px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        width: 330px;
        height: 572px;
        margin-top: -102px;
        padding: 51px 44px 62px 43px;
    }
}
.contacts-item {
    & b {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.85;
        letter-spacing: 0.04em;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.86;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
    } 

    & .contacts-txt {
        font-size: 12px;
        line-height: 1.8;
        color: $primary-text-color;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.66;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;
            letter-spacing: 0.04em;
        }
    }
    &:first-child {
        margin-bottom: 25px;
    }
    & .days {
        color: $black;
        font-weight: 500;
        line-height: 1.85;
    }
    & .hours {
        color: $accent-text-pink;
    }
}

.contacts-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 16px;

    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: $white;
    background: $beige-color;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        height: 28px;
        font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
        height: 28px;
        &.cafe {
            width: 73px;
        }
        &.foodtruck {
            width: 138px;
        }
    }

    &.cafe {
        width: 80px;
        background-color: $beige-color;
    }
    &.foodtruck {
        width: 130px;
        background-color: $green-color;
    }
}
.monday {
    position: relative;
    margin-top: 50px;

    &::before {
        position: absolute;
        top: -25px;
        display: block;
        align-content: flex-start;
        content: "";
        width: 179px;
        height: 1px;
        border-radius: 2px;
        background-color: $border-color;

        @media screen and (min-width: 768px) {
            width: 157px;
        }
        @media screen and (min-width: 1200px) {
            width: 234px;
        }
    }
    & p:last-child {
        margin-bottom: 10px;
        
        @media screen and (min-width: 768px) {
            margin-bottom: 16px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 15px;
        }
    }
}

.weekend {
    position: relative;
    margin: 0;

    & p:last-child {
        margin-bottom: 25px;
    }

    &::after {
        display: block;
        align-content: center;
        content: "";

        width: 179px;
        height: 1px;
        border-radius: 2px;
        background-color: $border-color;

        @media screen and (min-width: 768px) {
            width: 157px;
        }
        @media screen and (min-width: 1200px) {
            width: 234px;
        }
    }    
}
.contacts-address {
    margin-top: 25px;

    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 32px;
    }

    & a {        
        font-family: $font-contacts;
        font-style: normal;
        font-size: 12px;
        line-height: 1.5;

        color: $primary-text-color;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.83;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.83;        }
    }
}

/* BUTTONS */
.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
}

.contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
    margin: 0;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    cursor: pointer;
    
    & .contacts-button {
        font-family: $font-contacts;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3;
    }

    & .contacts-arrow {
        margin-left: 8px;
        width: 8px;
        height: 8px;
    }
}
.red {        
    margin-bottom: 10px;
    color: $white;
    background: #D41342;

    & .contacts-arrow {
        fill: currentColor;
    }

    @media screen and (min-width: 768px) {
        width: 191.45px;
        margin-right: 14.5px;
    }
    @media screen and (min-width: 1200px) {
        width: 198px;
        margin-right: 15px;
    }
}
.white {
    color: $primary-text-pink;
    background-color: $white;

    & .contacts-arrow {
        fill: currentColor;
    }

    @media screen and (min-width: 768px) {
        width: 174px;
        margin-right: 14.5px;
    }
    @media screen and (min-width: 1200px) {
        width: 180px;
        margin-right: 15px;
    }
    
    &:hover {
        color: $primary-text-pink;
        background-color: $btn-hover-bg-color;   
    }
}