.hero {
    position: relative;
    background-color: $accent-text-pink;
    // background-image: url(./../image/hero-section/hero-mob.png);
    // background-repeat: no-repeat;
    // background-position: contain;
}

// .hero-ice-cream {
//     position: absolute;
//     right: 32px;
//     bottom: o;
// }

.hero-heading {
    margin-bottom: 19px;
font-family: TitanOne400;
font-weight: 400;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $white;
}

.hero-passion {
font-family: TitanOne400;
font-weight: 400;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;
}

.hero-red-btn {
    width: 63px;
    height: 24px;
    padding: 9px 0;
    margin-right: 8px;
    color: $white;
    font-family: DM-Sanse400;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    border: none;
    border-radius: 11px;
    background-color:$primary-text-pink;
}

.hero-red-btn:hover,
.hero-red-btn:focus {
    background-color: rgba(199,19,62,1);
}

.hero-white-btn {
    width: 83px;
    height: 24px;
    padding: 9px 0;
    color: $primary-text-pink;
    font-family: DM-Sanse400;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    border: none;
    border-radius: 11px;
    background-color: $white;
}

.hero-white-btn:hover,
.hero-white-btn:focus {
    background-color: rgba(236,235,235,1);
    ;
}