.hero {
  min-width: 320px;
  background-color: $header-bg-color;
  overflow: hidden;
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 399px;
    overflow: inherit;
  }

  @media screen and (min-width: 1200px) {
    height: 665px;
  }
}

.container.hero-flex {
  display: flex;
  position: relative;
  height: 100%;

  @media screen and (min-width: 768px) {
    align-items: flex-end;
  }
  }

.hero-left-block {
    display: flex;
    flex-direction: column;
    padding-top: 193px;

    @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 28px;
    margin-right: 110px;
    }
    
  @media screen and (min-width: 1200px) {
    padding-top: 172px;
    padding-bottom: 44px;
  }
}

.hero-text-block {
    @media screen and (max-width: 767px) {
    // position: absolute;
    // bottom: 160px;
    z-index: 2;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      width: 162px;
      flex-direction: column;
      // position: inherit;
      margin-bottom: 19px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 56px;
    }
}

.hero-heading {
  display: inline-block;
  width: 218px;
  margin-bottom: 19px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;

  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1200px) {
    width: 277px;
    font-size: 38px;
    line-height: 44px;
    margin-bottom: 20px;
  }
}

.hero-passion {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 47px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-pink;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 31px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 52px;
  }
}

.hero-buttons {
  display: inline-flex;
  width: 154px;
  @media screen and (min-width: 1200px) {
    width: 257px;
  }
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 24px;
  padding: 9px 0;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  border: none;
  border-radius: 11px;

  @media screen and (min-width: 1200px) {
    // padding: 11px 22px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 18px;
  }
}

.hero-red {
  width: 63px;
  margin-right: 8px;
  color: $white;
  background-color: $primary-text-pink;

  @media screen and (min-width: 1200px) {
    width: 104px;
  }
}

.hero-red-btn:hover,
.hero-red-btn:focus {
  background-color: rgba(199, 19, 62, 1);
}

.hero-white {
  width: 83px;
  color: $primary-text-pink;
  background-color: $white;
  @media screen and (min-width: 1200px) {
    width: 138px;
  }
}

.hero-white-btn:hover,
.hero-white-btn:focus {
  background-color: $btn-hover-bg-color;
}

.hero-milk-thumb {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    // position: absolute;
    bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 44px;
  }
}

.hero-milk-flex {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}

.hero-milk-tab {
  display: none;  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;  
  }
}

.hero-milk-desk {
  display: none;  
  @media screen and (min-width: 1200px) {
    display: block;  
  }
}

.hero-milk-text {
  display: block;
  width: 114px;
  margin-bottom: 7px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: $white;
  
    @media screen and (min-width: 1200px) {
        width: 200px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 20px;
    }
}

.hero .arrow-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}

.hero-img {
  @media screen and (max-width: 767px) {
  position: absolute;
  bottom: 0;
  transform: translateX(60%);
  z-index: 1;
  }

.hero-img-mob {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero-img-mob::after {
  content: '';
  position: absolute;
  transform: translateX(-85px);
  bottom: 75px;
  width: 346px;
  height: 346px;
  border-radius: 50%;
  background-color: $accent-text-pink;
  z-index: -1;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero-img-tab {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-right: 45px;
    margin-top: auto;
    position: relative;
    // margin-bottom: -4px;
    z-index: 3;
  }
}

.hero-img-tab::before {
  content: '';
  position: absolute;
  transform: translateX(-80px);
  bottom: 46px;
  width: 324px;
  height: 324px;
  border-radius: 50%;
  background-color: $accent-text-pink;
  z-index: -1;

}

.hero-img-desk {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin-right: 48px;
    margin-top: auto;
    position: relative;
    // margin-bottom: -4px;
    z-index: 3;
  }
}

.hero-img-desk::after {
  content: '';
  position: absolute;
  transform: translateX(-119px);
  bottom: 75px;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: $accent-text-pink;
  z-index: -1;
  }
}

.hero-right-block {
  display: none;
  @media screen and (min-width: 768px){
   display: flex; 
   flex-direction: column;
   align-items: flex-end;
  }
}

.hero-numbers-tab {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px){
  display: flex;
  flex-direction: column;
    margin-bottom: 72px;
}
}

.hero-numbers-desk {
  display: none;
  @media screen and (min-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
  }
}

.hero-16-tab {
  margin-bottom: 13px;
}

.hero-16-desk {
  margin-bottom: 15px;
}

.hero-girl-tab {
  display: inline-block;
  margin-top: auto;
  z-index: 3;
  @media screen and (min-width:1200px) {
    display: none;
  }
}

.hero-girl-desk {
  display: none;
  @media screen and (min-width: 1200px) {
  display: inline-block;
  margin-top: auto;
  z-index: 3;
  }
}

