.products {
    background-color: $white;
    font-family: DM Sans;
    text-align: center;

    @media screen and (max-width: 767px) {
        padding-top: 121px;
        padding-bottom: 98px;    
    }

    @media screen and (min-width: 768px) {
        padding-top: 122px;
        padding-bottom: 112px;    
    }

    @media screen and (min-width: 1200px) {
        padding-top: 129px;
        padding-bottom: 119px;    
    }
}

.products-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }
}

.products-item {
    position: relative;
    padding: 161px 40px 40px;
    border-radius: 24px;

    &:not(:last-child) {
        @media screen and (max-width: 767px){
            margin-bottom: 130px;
        }
    }

    &:nth-child(1) {
        background-color: #FFB8CA;
    }

    &:nth-child(2) {
        background-color: #F0D1A5;
    }

    &:nth-child(3) {
        background-color: $green-color;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 10px) / 3);
        margin: 10px;           
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 6 * 12px) / 3);
        margin: 12px;           
    }
}

.products-picture {
    display: block;
    position: absolute;
    margin: 0px 15px;
    top: -23%;
    left: 0%;
    width: 249px;
}

// стили текста и заголовков

.products-title-h2,
.products-title-h3,
.products-title-h4 {
    font-family: Titan One;
    font-weight: 400;
    text-transform: uppercase;
}

.products-title-h2 {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $primary-text-pink;
    margin-bottom: 144px;
}

.products-title-h3 {
    font-size: 18px;
    line-height: 1.17;
    color: $accent-text-pink;
    margin-bottom: 15px;
}

.products-title-h4 {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: $white;
    margin-bottom: 30px;
    }

.products-text {
    font-family: DM Sans;    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    color: $white;
    margin: 30px 0px;
}

// стили иконок

.dots-icon,
.arrow-icon {
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: contain;
}

.dots-icon {
    width: 26px;
    height: 6px;
    background-image: url(../image/products/dots.svg);
}

.arrow-icon {
    width: 40px;
    height: 40px;
    background-image: url(../image/products/arrow-right.svg);
}